.app {
  display: flex;
  font-family: 'Inter';
  .rightSection {
    width: 90%;
  }
  .mainContent {
    margin-left: 25px;
  }
  .cardList {
    display: flex;
    padding-top: 20px;
    overflow-x: scroll;
    overflow-y: hidden;
  }
  @media (max-width: 768px) {
    .rightSection {
      width: 100%;
    }
  }
}
