.navigationComponent {
  background-color: #f0f0f0;
  padding: 20px;
  width: 10%;
}

.navigationList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navigationItem {
  margin-bottom: 10px;
  font-size: 20px;
  cursor: pointer;
}

.navigationItem:hover {
  color: #fff;
  background-color: #333;
}

@media (max-width: 768px) {
  .navigationComponent {
    display: none;
  }
}
