@use '../../base/colors.scss';

.tblWrapper {
  margin: 8px 25px 50px 0px;
  border-radius: 18px;
  box-shadow: 0px 0px 15px colors.$background;
  overflow: hidden;
  table {
    border-collapse: collapse;
    width: 100%;
  }
  .tblHeader {
    background: colors.$focus;
    color: colors.$secondary-font;
    th:nth-child(1) {
      padding: 12px 20px;
      text-align: left;
    }
    th:nth-child(2) {
      padding: 12px 130px 12px 0px;
      text-align: right;
    }
  }
  .tblContent {
    td {
      padding: 10px 20px 10px 20px;
      border-bottom: 1px solid #ddd;
      @media (max-width: 768px) {
        padding: 5px;
      }
    }
    td:nth-child(2) {
      text-align: right;
    }
    tr:hover {
      background-color: #f5f5f5;
    }
  }
}
