.tblWrapper {
  margin: 8px 25px 50px 0px;
  border-radius: 18px;
  box-shadow: 0px 0px 15px #0000001a;
  overflow: hidden;
}

table {
  border-collapse: collapse;
  width: 100%;
}

.tblHeader {
  background: #484848;
  color: #fff;
}

.tblHeader th:nth-child(1) {
  padding: 12px 20px;
  text-align: left;
}

.tblHeader th:nth-child(2) {
  padding: 12px 130px 12px 0px;
  text-align: right;
}

.tblContent td {
  padding: 10px 20px 10px 20px;
  border-bottom: 1px solid #ddd;
}

.tblContent td:nth-child(2) {
  text-align: right;
}

.tblContent tr:hover {
  background-color: #f5f5f5;
}

.deleteButton {
  margin-left: 10px;
  cursor: pointer;
  font-weight: 500;
  padding: 11px 28px;
  border-radius: 12px;
  font-size: 0.8rem;
  border: none;
  color: #fff;
  background: #ff3e4e;
  transition: all 0.25s ease;
}

.deleteButton:hover {
  box-shadow: 0 10px 20px -10px #ff3e4e99;
  transform: translateY(-5px);
  background: #ff3e4e;
}

.viewButton {
  cursor: pointer;
  font-weight: 500;
  padding: 11px 28px;
  border-radius: 12px;
  font-size: 0.8rem;
  border: none;
  color: #2c3e50;
  background: #d5d5d5;
  transition: all 0.25s ease;
}

.viewButton:hover {
  box-shadow: none;
  transform: none;
  color: #ffffff;
  background: #484848;
}

@media (max-width: 768px) {
  .tblContent td {
    padding: 5px;
  }
}
